<app-header title="Users"></app-header>

<nz-content class="inner-content">
    <nz-spin [nzSpinning]="loading">

        <div nz-row nzJustify="center">
            <div nz-col [nzSpan]="18">
                <nz-card nzTitle="Users list" [nzExtra]="search" [nzActions]="[paginate]">
                    <div nz-row nzJustify="space-around">
                        <div nz-col class="gutter-row pad-10" [nzLg]="8" [nzMd]="12" [nzSpan]="24"
                            *ngFor="let item of items">
                            <app-user-card [user]="item" [loading]="loading"></app-user-card>
                        </div>
                    </div>
                </nz-card>
            </div>
        </div>
    </nz-spin>

    <ng-template #search>
        <nz-input-group [nzSuffix]="suffixIconSearch">
            <input type="text"  [ngModel]="searchFilter" (ngModelChange)="handleSearch($event)"  nz-input
                placeholder="Search by user ID" />
        </nz-input-group>
    </ng-template>
    <ng-template #paginate>
        <nz-pagination [nzPageIndex]="pagination.curPage " [nzSize]="'small'" [nzPageSize]="pagination.perPage"
            [nzTotal]="pagination.total" (nzPageIndexChange)="handlePaginate($event)"></nz-pagination>
    </ng-template>
    <ng-template #suffixIconSearch>
        <i nz-icon nzType="search"></i>
    </ng-template>
</nz-content>