<nz-card class="user-card" (click)="showProfile()">
    <nz-skeleton [nzActive]="true" [nzLoading]="loading" [nzAvatar]="{ size: 'large' }">
        <nz-card-meta [nzAvatar]="avatarTemplate" [nzTitle]="loading? '' : user.first_name"
            [nzDescription]="loading? '' : user.email"></nz-card-meta>
    </nz-skeleton>
    <ng-template #avatarTemplate>
        <nz-avatar [nzSize]="64"
            [nzSrc]="loading? '' : user.avatar"></nz-avatar>
    </ng-template>
</nz-card>