<app-header title="Profile"></app-header>
<nz-content>
    <div nz-row nzJustify="center">
        <div nz-col [nzSpan]="8">
            <nz-card nzTitle="User Profile" [nzLoading]="loading">
                <nz-avatar id="profile-pic" [nzSize]="100" [nzSrc]="user.avatar"></nz-avatar>
                <nz-descriptions nzBordered [nzColumn]="1">
                    <nz-descriptions-item nzTitle="First Name">
                        {{ user.first_name }}
                    </nz-descriptions-item>
                    <nz-descriptions-item nzTitle="Last Name">
                        {{ user.last_name }}
                    </nz-descriptions-item>
                    <nz-descriptions-item nzTitle="Email">
                        {{ user.email }}
                    </nz-descriptions-item>
                </nz-descriptions>

            </nz-card>
        </div>
    </div>
</nz-content>